extends layout

block content
    ul
    each post in data
        li
            a(href=post.url) #{post.title}
            //- form(method="POST",action='/submit')    
            //- #form-group 
            //-     label Comments:
            //-     textarea.form-control(name='comment')      
            //- input.btn.btn-primary(type='submit', value='Submit') 
